<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
  {{ fullWidthMode }}

  <div [ngClass]="{ flex: fullWidthMode }">
    <!-- product image -->
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src={{product?.image}}
      alt="placeholder img"
    />

    <!-- product info -->
    <div class="w-full">
      <div [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }">
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Sneakers</p>
        <p *ngIf="fullWidthMode">Description</p>
      </div>
    </div>

    <!-- price and add to cart icon -->
    <div class="flex justify-between">
      <span class="text-red-400">{{ '150' | currency }}</span>
      <button mat-icon-button (click)="onAddToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
